.box 
  .links
    %span.back
      = link_to 'Back', messages_path
    %span.show
      = link_to 'Show', @message
      
  %h2 Edit message
  %p.description Lorem ipsum dolor sit amet
  
  - form_for(@message) do |f|
    = f.error_messages
    = render :partial => 'form', :object => f
    .spacer
      = f.submit "Update"

