%p.description Lorem ipsum dolor sit amet

%div.item_image
  = image_tag @user.picture(:medium)

%label
  %span Email:
  = form.text_field :email
%label
  %span First name:
  = form.text_field :first_name
%label
  %span Last name:
  = form.text_field :last_name
%label
  %span Phone:
  = form.text_field :phone
%label
  %span Avatar:
  = form.file_field :avatar
- if current_user && current_user.is_admin?
  %label
    %span Role:
    = form.select (:role, User.ROLES)
%label
  %span Password:
  = form.password_field :password
%label
  %span Confirm:
  = form.password_field :password_confirmation
