= form.label :email
%br
= form.text_field :email
%br
= form.label :first_name
%br
= form.text_field :first_name
%br
= form.label :last_name
%br
= form.text_field :last_name
%br
= form.label :phone
%br
= form.text_field :phone
%br
= form.label :avatar
%p
  = image_tag @user.avatar.url(:medium)
%br
= form.file_field :avatar
%br
- if current_user && current_user.is_admin?
  %br
  = form.label :role
  %br
  = form.select (:role, User.ROLES)
  %br
%br
= form.label :password, form.object.new_record? ? nil : "Change password"
%br
= form.password_field :password
%br
%br
= form.label :password_confirmation 
%br
= form.password_field :password_confirmation
%br
