<h1>Listing properties for <%= @product  %> </h1>

<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Product</th>
  </tr>

<% @properties.each do |property| %>
  <tr>
    <td><%=h property.name %></td>
    <td><%=h property.price %></td>
    <td><%=h property.product_id %></td>
    <td><%= link_to 'Show', product_property_path(@product, property) %></td>
    <td><%= link_to 'Edit', edit_product_property_path(@product, property) %></td>
    <td><%= link_to 'Destroy', property, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New property', new_product_property_path(@product) %>
<%= link_to 'Back to product',edit_product_path(@product) %>