%div.box
  %ul
    - @orders.each do |o|
      %li
        %b 
          ORDER:
          ="(#{o.order_time}, [#{o.user.email if o.user}] notes: #{o.note})"
        %ul
          - o.line_items.each do |li|
            %li= "#{link_to(li.name, product_path(li.product_id))}, #{number_to_currency(li.price)}, #{li.quantity} item(s)"
          
- content_for :subheader do
  %b Orders
  %br
  This page allows you to see all orders
