%div.box
  %h2 Editing product category

  - form_for @product_category do |f|
    = f.error_messages
    = render :partial => "form", :object => f
    %div.spacer
      = f.submit "update"

= link_to 'Show', @product_category
|
= link_to 'Back', product_categories_path 
- content_for :subheader do
  %b Product category edit
  %br
  This page allows you to edit the product category
