%div.item_image
  = image_tag(@product.picture(:medium))

%label
  %span Published:
  = form.check_box :published
%label
  %span Name:
  = form.text_field :name 
%label
  %span Price:
  = form.text_field :price
%label
  %span Inventory:
  = form.text_field :inventory
%label
  %span Description:
  = form.text_area :description, :rows => 2
%label
  %span Category:
  = form.collection_select ("product_category_id", @product_categories, :id, :name, :include_blank => '- Choose -')
%label
  %span Photo:
  = form.file_field :photo

