%div.item_image
  = image_tag @product.photo.url(:medium)
= form.label :name 
%br
= form.text_field :name
%br
%br
= form.label :price
%br
= form.text_field :price
%br
%br
= form.label :description
%br
= form.text_field :description
%br
= form.label :product_category
%br
= form.select ("product_category_id", @product_categories.map {|u| [u.name,u.id]})
%br
= form.label :published
%br
= form.check_box :published
%br
= form.label :photo
%br
= form.file_field :photo
%br
%br
