%div.item_image
  = image_tag(@product.picture(:medium))

= form.label :published
%br
= form.check_box :published
%br
= form.label :name 
%br
= form.text_field :name
%br
= form.label :price
%br
= form.text_field :price
%br
= form.label :inventory
%br
= form.text_field :inventory
%br
= form.label :description
%br
= form.text_area :description, :rows => 2
%br
= form.label :product_category
%br
= form.select ("product_category_id", @product_categories.map {|u| [u.name,u.id]})
%br
= form.label :photo
%br
= form.file_field :photo
%br
%br
