%h1 Editing product

- form_for @product, :html => { :multipart => true } do |f|
  = f.error_messages
  = render :partial => "form", :object => f
  = f.submit "update"
    
%br

= link_to 'Show', @product
|
= link_to 'Back', products_path 
