.box
  .links
    %span.link
      = link_to 'Show', messages_path
    %span.link
      = link_to 'Back', messages_path
      
  %h2 Editing product

  - form_for @product, :html => { :multipart => true } do |f|
    = f.error_messages
    = render :partial => "form", :object => f
    .spacer
      = f.submit "update"

- content_for :subheader do
  %b Product edit
  %br
  This page allows you to edit the product
