.box
  .links
    %span.back
      = link_to 'Back', products_path
    %span.show
      = link_to 'Show', @product
      
  %h2 Editing product

  - form_for @product, :html => { :multipart => true } do |f|
    = f.error_messages
    = render :partial => "form", :object => f
    .spacer
      = f.submit "update"

  .links
    %span.add
      = link_to 'Add property', new_product_property_path(@product)
    %span
      = link_to 'Manage properties', product_properties_path(@product)

  %h2 Product properties
  %p.description Lorem ipsum dolor sit amet

  - @product.properties.each do |p|
    %p.label= p.name
    %p.value= p.price

- content_for :subheader do
  %b Product edit
  %br
  This page allows you to edit the product
