%div.box
  .links
    %span.basket
      = link_to 'Back to store', store_path
    %span.back
      = link_to 'Back', products_path
    %span.show
      = link_to 'Edit', edit_product_path(@product)

  %h2 Product 
  %p.description Lorem ipsum dolor est sit amet
  
  %div.item_image
    = link_to(image_tag(@product.picture(:medium)), @product.picture)
  
  %p.label Name:
  %p.value= h @product.name

  %p.label Description:
  %p.value= h @product.description
     
  %p.label Price:
  %p.value= h number_to_currency(@product.price)

  %p.label Inventory:
  %p.value= h @product.inventory || 'unlimited'

  %p.label Available:
  %p.value= h @product.available? ? 'yes' : 'no'

  %p.label Category:
  %p.value= link_to @product.product_category, @product.product_category

  %p.label Property:
  %p.value= select("product_property", "id", @product.properties.map {|p| [p.name + " (#{number_to_currency(p.price)})", p.id]}, :include_blank => '- Choose -')

    
  %div.spacer
    =button_to "Add to cart", :controller => "store", :action => "add_to_cart", :id => @product

%h2#comments 
  ="Comments (#{@product.comments.size})"

- @product.comments.each do |c|
  %p
    = image_tag c.user.picture(:thumb)
    = c.content
    =link_to("(#{c.user})", c.user) if c.user
    
- form_for(Comment.new) do |f|
  = hidden_field_tag :product_id, @product.id
  = hidden_field_tag :return_to, request.request_uri
  = f.text_area :content, :rows=>3    
  %br
  = f.submit "Add comment"

%h2#rates
  ="Rates (#{@product.rates.count})"

- form_for(Rate.new) do |f|
  = hidden_field_tag :product_id, @product.id
  = hidden_field_tag :return_to, request.request_uri
  - (1..5).each do |i|
    - m = (i == @product.rating_avg.round ? {:checked => 'checked'} : {})
    = f.radio_button :rating, i, {:class=>'star'}.merge(m)

  %br
  = f.submit "Add rate"

- content_for :subheader do
  %b Product details
  %br
  This page allows you to read more about the product 
