- form_tag(add_to_cart_path(@product)) do
  %div.box
    .links
      %span.basket
        = link_to 'Back to store', store_path
      %span.back
        = link_to 'Back', products_path
      %span.show
        = link_to 'Edit', edit_product_path(@product)
    
    =render :partial => 'product', :object => @product

    %p.label Property:
    %p.value= select("product_property", "id", @product.properties.map {|p| [p.name + " (#{number_to_currency(p.price)})", p.id]}, :include_blank => '- Choose -')

      
    %div.spacer
      =submit_tag "Add to cart"

%h2#comments 
  ="Comments (#{@product.comments.size})"

- @product.comments.each do |c|
  %p
    = image_tag c.user.picture(:thumb)
    = c.content
    =link_to("(#{c.user})", c.user) if c.user
    
- form_for(Comment.new) do |f|
  = hidden_field_tag :product_id, @product.id
  = hidden_field_tag :return_to, request.request_uri
  = f.text_area :content, :rows=>3    
  %br
  = f.submit "Add comment"

%h2#rates
  ="Rates (#{@product.rates.count})"

- form_for(Rate.new) do |f|
  = hidden_field_tag :product_id, @product.id
  = hidden_field_tag :return_to, request.request_uri
  - (1..5).each do |i|
    - m = (i == @product.rating_avg.round ? {:checked => 'checked'} : {})
    = f.radio_button :rating, i, {:class=>'star'}.merge(m)

  %br
  = f.submit "Add rate"

- content_for :subheader do
  %b Product details
  %br
  This page allows you to read more about the product 
