%div.box
  %h2 Product 
  %div.item_image
    = link_to(image_tag(@product.picture(:medium)), @product.picture)
  %p
    %b Name:
    =h @product.name

  %p
    %b Description:
    =h @product.description 
     
  %p
    %b Price:
    =h @product.price

  %p
    %b Published
    =h @product.published ? 'yes' : 'no'

  %p
    %b Product category:
    = link_to @product.product_category, @product.product_category
    
  %br

  =button_to "Add to cart", :controller => "store", :action => "add_to_cart", :id => @product
  or
  =link_to "Back to store", store_path
  %br  
    
%h2#comments Comments

- @product.comments.each do |c|
  %p
    = c.content
    =link_to("(#{c.user})", c.user) if c.user
    
- form_for(Comment.new) do |f|
  = hidden_field_tag :product_id, @product.id
  = hidden_field_tag :return_to, request.request_uri
  = f.text_area :content, :rows=>3    
  %br
  = f.submit "Add comment"
    
= link_to 'Edit', edit_product_path(@product)
|
= link_to 'Back', products_path

- content_for :subheader do
  %b Product details
  %br
  This page allows you to read more about the product 
