%h1 Checkout

- form_tag('/store/update_cart_quantities', :method => :post) do
  %table
    %tr
      %th Name
      %th Price
      %th Quantity
      - @cart.items.each do |i|
        %tr
          %td= i.title
          %td= number_to_currency(i.price)
          %td
            =text_field_tag "cart_items[#{i.product_id}]", i.quantity
      %tr
        %td
          %b Total:  
        %td
          %b= number_to_currency(@cart.total_price)
        %td
          %b= @cart.total_quantity
  =submit_tag "Update" unless @cart.is_empty?

=button_to "Empty cart", :controller => 'store', :action => 'empty_cart'
=button_to "Checkout", :action => 'checkout' unless @cart.is_empty?
   

