%div.box
  %div.menu
    - @product_categories.each do |c|
      %h2= c.name
      - c.products.published.each do |p|
    
        %div.product_picture
          =link_to (image_tag(p.photo.url(:thumb)), p)
        %dl
          %dt= link_to(p.name, p)
          %dd.price= number_to_currency(p.price)
          %dd.ingredients= p.description
          %dd.comments 
            = image_tag '../images/speech-bubble-micro-icon.png', :class=>'comments_icon' 
            =link_to "Comments (#{p.comments.size})", product_path(p)+"#comments"
            |
            = image_tag '../images/document-lines-micro-icon.png', :class=>'add_to_cart_icon'
            =link_to "Add to cart", {:controller => 'store', :action => 'add_to_cart', :id => p.id}, :method => :post
        %div.clearfix

- content_for :subheader do
  %b Store
  %br
  This page allows you to buy items
