%div.box
  %h1 My cart

  - form_tag('/store/update_cart', :method => :post) do
    %table
      %tr
        %th Name
        %th Quantity
        %th Price
        %th Delete
        - @cart.items.each do |i|
          %tr
            %td= i.title
            %td
              =text_field_tag "cart_item[#{i.product_id}][quantity]", i.quantity
            %td= number_to_currency(i.price)
            %td=check_box_tag "cart_item[#{i.product_id}][deleted]"
        %tr
          %td
            %b Total:  
          %td
            %b= @cart.total_quantity
          %td
            %b= number_to_currency(@cart.total_price)
            
    =submit_tag t(:update), :name=>'submit' unless @cart.is_empty?
    or

  =button_to "Empty cart", :controller => 'store', :action => 'empty_cart' unless @cart.is_empty?
  =link_to "Continue to checkout", :action => :checkout_confirm

- content_for :subheader do
  %b My cart
  %br
  This page allows you to review Your cart
