!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", 'xml:lang' => "en" }
  %head
    %title Głodomor
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }/
    = stylesheet_link_tag 'styles'
  %body

    =flash[:notice]
    %br
    =link_to "Store", store_path
    |
    =link_to "Products", products_path 
    |
    =link_to "Product categories", product_categories_path
    |
    - if(!current_user)
      =link_to "Register", new_user_path
      |
      =link_to "Login", login_path
      -else
      Logged as 
      =link_to current_user.login, current_user
      |
      =link_to "Logout", logout_path 

    =yield

    %h2 Your cart:
    %ul
      - @cart.items.each do |i|
        %li 
          ="#{link_to(i.title, product_path(i.product_id))}, #{i.quantity} item(s), #{number_to_currency(i.price)} - #{i.product_id}"
          =button_to "Remove from cart", :controller=> 'store', :action => 'remove_from_cart', :id => i.product_id

    %p
      Total price:
      =number_to_currency(@cart.total_price)
    %p
      Total quantity:
      =@cart.total_quantity
    =button_to "Checkout", :controller => 'store', :action => 'checkout_confirm'
    =button_to "Empty cart", :controller => 'store', :action => 'empty_cart'
