!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", 'xml:lang' => "en" }
  %head
    %title Bufet "Acha"
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    = javascript_include_tag 'jquery-1.3.2.min', 'application', :cache => true
    = yield :javascript
    = stylesheet_link_tag 'style'
  %body
    %div.content
      %div.header
        %div.top_info
          %div.top_info_right
            - unless(current_user)
              %b You are not Logged in!
              Login to make orders.
              %br
              If you do not have an account, please
              =link_to "Register", new_user_path            - else
              %div.avatar_thumb
                =image_tag current_user.picture(:thumb)
              Welcome
              %b= link_to current_user.first_name, current_user
              , you are Logged in !
              %br
              You can
              =link_to "logout", logout_path
              if You want.
          %div.top_info_left
            =image_tag '/images/calendar_icon.jpg', :class=> 'today_info_image'
            Today is:
            %b=  Time.now.strftime("%d-%m-%Y")
            %br
            Check todays
            =link_to "News", messages_path
            for latest items
        %div.logo
          %h1
            =link_to "Bufet \"Acha\"", store_path
          %div.company_motto Bufet w Technoparku

      %div.bar
        %ul
          %li= link_to "Home", home_path
          %li= link_to "Store", store_path          %li
            =link_to "My cart", :controller => 'store', :action => 'checkout_confirm'
            ="(#{@cart.total_quantity})"
          - if current_user            %li= link_to "My orders", my_orders_path     
            %li= link_to "My profile", user_path(current_user)

        %ul.right_bar
          - if current_user    
            - if current_user.is_admin?
              %li= link_to "Users", users_path 
              %li= link_to "Products", products_path               %li= link_to "Product categories", product_categories_path
              %li= link_to "Orders", orders_path
            %li= link_to "Logout", logout_path
          - else
            %li= link_to "Register", new_user_path
              
      %div.search_field
        - form_tag(search_path) do
          %p
            =text_field_tag :phrase, params[:phrase], :class => 'search'
            =submit_tag "Search"

      - if @content_for_subheader
        %div.left_message
          %p
            =yield :subheader

      - if(flash[:notice])
        %div.notify= flash[:notice]
      
      %div.left
          
        =yield

      %div.right
        - unless @cart.is_empty?
          %div.cart= render :partial => 'cart/cart', :object => @cart 
        
        - unless @controller.controller_name == UserSessionsController.controller_name || current_user
          %div.right_login
            =render :partial => 'user_sessions/login', :locals => {:user_session => @user_session || UserSession.new}

        %div.right_articles
          %p
            %img.image{:src=>'images/image.gif', :alt=>'Image', :title=>'Image'}
            %b Lorem ipsum dolor sit amet
            %br
            consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam             
            %a{:href=>'#'} erat volutpat
            \. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis

        %div.right_articles
          %p
            %img.image{:src=>'images/image.gif', :alt=>'Image', :title=>'Image'}
            %b Lorem ipsum dolor sit amet
            %br
            consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
            %a{:href=>'#'} erat volutpat
            \. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis

        %div.right_articles
          %p
            %img.image{:src=>'images/image.gif', :alt=>'Image', :title=>'Image'}
            %b Lorem ipsum dolor sit amet
            %br
            consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
            %a{:href=>'#'} erat volutpat
            \. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis

  %div#footer
    %p
      %a{:href=>'#'} RSS Feed
      |
      %a{:href=>'#'} Contact
      |
      %a{:href=>'#'} Accessibility
      |
      %a{:href=>'#'} Products
      |
      %a{:href=>'#'} Disclaimer
      |
      %a{:href=>'#'} CSS
      and
      %a{:href=>'#'} HXTML
      %br
      &copy; Copyright 2006 Internet Center, Design: Luka Cvrk -
      %a{:href=>"http://www.solucija.com/", :title=>"What's your solution?"} Solucija
